<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>異食嗑</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
  <div class="container">
    {{!-- flash --}}
    {{#if success_messages}}
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check"></i>{{success_messages}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span class="close" aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    {{#if error_messages}}
    <div class="alert alert-danger" role="alert" style="margin: 30px 0 ;">
      {{error_messages}}
    </div>
    {{/if}}
    {{!-- header --}}
    <header>
      <div id="logo">
        <a href="/">
          <img src="./images/logo.png" width="210px" height="100px" alt="LOGO">
        </a>
      </div>
      <nav class="navbar navbar-expand-lg navbar-expand-md">
        <div class="collapse navbar-collapse">
          <a class="nav-link" href="/">首頁</a>
          <a class="nav-link" href="/products">訂購零食箱</a>
        </div>
        <ul class="nav">
          {{#ifCond user.role true}}
          <a class="btn" href="/admin/users">
            <i class="fa fa-user-o" aria-hidden="true">&nbsp網站後台管理</i>
          </a>
          {{/ifCond}}
          <div class="dropdown">
            <button class="btn btn-outline dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="fa fa-user">&nbsp會員專區</i>
            </button>
            <div class="dropdown-menu">
              <h5 class="dropdown-header">會員專區</h5>
              <div class="dropdown-divider"></div>
              {{#if user}}
              {{else}}
              <a href="/my-account" class="dropdown-item">登入/註冊</a>
              {{/if}}
              <a href="/users/profile" class="dropdown-item">個人資料</a>
              <a href="/users/orders" class="dropdown-item">訂單查詢</a>
              <a href="/users/subscribing" class="dropdown-item">正在訂閱</a>
            </div>
          </div>
          {{#if user}}
          <form action="/logout" method="POST">
            <button class="btn" type="submit">
              <i class="fa fa-sign-out">&nbsp登出</i>
            </button>
          </form>
          {{/if}}
        </ul>
      </nav>
      <hr id="navbar">
    </header>
    {{!-- body --}}
    <main>
      {{{body}}}
    </main>
    {{!-- footer --}}
    <footer>
      <hr>
      <br>
      <div>
        <h5>追蹤我們</h5>
        <i class="fa fa-facebook-square mx-2" aria-hidden="true"></i>
        <i class="fa fa-instagram mx-2" aria-hidden="true"></i>
        <i class="fa fa-youtube-play mx-2" aria-hidden="true"></i>
        <i class="fa fa-twitter mx-2" aria-hidden="true"></i>
      </div>
      <p class="mt-5 mb-3 text-muted text-center">© 2019-2020</p>
      <p class="text-muted text-center">（此為作品練習網站）</p>
      <p class="text-muted text-center">圖片來源：<a href="https://snacklips.com/">https://snacklips.com/</a></p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>