<div class="card-body" style="border:1px solid black;text-align:center">
  <h1>確認訂閱取消</h1>
  <h4>提醒您</h4>
  <h6>確認取消後，此訂閱方案將立即終止。</h6>
  <br>
  <form action="/users/cancel/{{order.id}}?_method=PUT" method="POST">
    <button type="submit" class="btn btn-outline-dark">確定取消訂閱</button>
  </form>
  <br>
  <a class="btn btn-outline-primary" href="/users/subscribing" style="padding:10px 70px 10px 70px;">立即返回</a>
</div>