<div class="explain-container">
  <div class="explain">
    <br>
    <i class="fa fa-question-circle-o"></i>
    <h1 class="explain">什麼是零食訂閱？</h1>
    <br>
    <p class="explain">零食訂閱就像訂閱音樂、雜誌一樣，定期扣款，<br>就能獲得最新商品與服務，<br>讓你的人生更簡單！</p>
    <a class="btn rounded-pill explain" href="/products">前往選擇零食箱</a>
    <br>
    <br>
    <img class="explain" src="./images/snack1.jpg" alt="零食訂閱">
  </div>
  <div class="mb-5">
    <h1 class="explain">多樣選擇，隨心所欲</h1>
    <br>
    <br>
    <br>
    <div id="carousel" class="carousel slide" data-interval="2000" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h3 style="color:rgb(111, 196, 245)">超值箱&nbsp;$499/月</h3>
          <img src="https://snacklips.com/wp-content/uploads/2019/06/499-340x340.png" class="d-block w-100" alt="超值箱">
          <p class="carousel">― 單人獨享最適合</p>
          <p class="carousel">― 精選6~8種零食</p>
          <p class="carousel">― 至少來自3個國家</p>
        </div>
        <div class="carousel-item">
          <h3 style="color:orangered">饗樂箱&nbsp;$699/月</h3>
          <img src="https://snacklips.com/wp-content/uploads/2019/06/699-340x340.png" class="d-block w-100" alt="饗樂箱">
          <p class="carousel">― 雙人分享也適合</p>
          <p class="carousel">― 精選9~11種零食</p>
          <p class="carousel">― 至少來自3個國家</p>
        </div>
        <div class="carousel-item">
          <h3 style="color:rgb(50, 65, 148)">派對箱&nbsp;$999/月</h3>
          <img src="https://snacklips.com/wp-content/uploads/2019/06/999-340x340.png" class="d-block w-100" alt="派對箱">
          <p class="carousel">― 3~5人剛剛好</p>
          <p class="carousel">― 精選12~18種零食</p>
          <p class="carousel">― 至少來自5個國家</p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <a class="btn rounded-pill order" href="/products">立即訂閱</a>
</div>