<div>
  <div style="text-align: center;">
    <img id="slogan" src="./images/slogan.png" alt="標語" width="450px">
    <a class="btn btn-order" href="/products">&nbsp&nbsp訂購零食箱！</a>
    <img id="earth" src="./images/earth.png" width="550px" alt="地球">
  </div>
</div>