<div>
  <div style="text-align: center;">
    <img id="slogan" src="./images/slogan.png" alt="標語">
    <a class="btn btn-order rounded-pill" href="/products">&nbsp&nbsp訂購零食箱！</a>
    <img id="earth" src="./images/earth.png" alt="地球">
  </div>
</div>