<div>
  <div class="earth">
    <img id="slogan" src="/images/slogan.png" alt="標語">
    <a class="btn btn-order rounded-pill" href="/products">&nbsp;&nbsp;訂購零食箱！</a>
    <img id="earth" src="/images/earth.png" alt="地球">
  </div>
  <div class="dessert-order">
    <img class="dessert-order" src="/images/dessert_order.png" alt="零食訂閱">
    <br>
    <h6 class="dessert-order">每月一箱異國零食送到家,跟著歪國零食嘴<br>用零食環遊世界!</h6>
    <br>
    <a class="btn mb-3 to-products" href="/products">立即訂閱</a>
    <br>
    <a class="dessert-order" href="/products/explain">前往了解&nbsp;<i class="fa fa-chevron-right"></i>
    </a>
  </div>

</div>