<div class="col-md-12 row">
  <div class="col-md-3" style="text-align: center;">
    <ul class="list-group list-group-flush">
      <h4>會員專區</h4>
      <li class="list-group-item" style="background-color: snow;">
        <a href="/users/profile">個人資料</a>
      </li>
      <li class="list-group-item" style="background-color: snow;">
        <a href="/users/orders">訂單查詢</a>
      </li>
      <li class="list-group-item" style="background-color: snow;">
        <a href="/users/subscribing">正在訂閱</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9 col-12">
    <h1>正在訂閱中<i class="fa fa-check"></i></h1>
    <br>
    <div class="col-md-12 row">
      {{#each orders}}
      <div class="card col-md-3" style="border:1px solid black;border-radius:10px">
        <img src="{{this.Product.image}}" class="card-img-top" alt="方案圖片">
        <div class="card-body">
          <h5>{{this.Product.name}}</h5>
          <h6>{{this.Product.english_name}}</h6>
          <p>方案到期：</p>
          <form action="" method="POST">
            <input type="text" name="MerchantID_" value=>
            <input type="text" name="PostData_" value=>
            <button type="submit" class="btn btn-outline-dark">取消訂閱</button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>