/* Img */
img#slogan {
  position:absolute;
  z-index:2;
  margin:40px 0 0 85px;
  filter:brightness(1.3);
  width: 450px;
}
img#earth {
  filter:contrast(1.2);
  width: 550px;
}
img.subscribe-step {
  width: 25%;
  margin:auto;
  height:300px;
}
img.product-image {
  height: 200px;
}

/* Div */
div#logo,div#step,div#choose,div.card {
  text-align: center;
}
div.card {
  width: 20%;
  margin:0 auto 0 auto;
  border:none;
  background-color:transparent;
}
div#體驗一箱 {
  color:orange
}
div#超值箱 {
  color:rgb(111, 196, 245)
}
div#饗樂箱 {
  color:orangered;
}
div#派對箱 {
  color:rgb(50, 65, 148)
}
div.card-header {
  background-color: white;
  height:30%;
  font-size:20px;
  margin-top:5px ;
  color:rgb(0, 105, 145);
}
div.card-body {
  height:70%;
}
div#option {
  margin-top: 80px;
}
div.cart-infomation {
  border:2px solid black;
  border-radius:5px;
}
div.add-product {
  margin-left: 25%;
}
div.form-label-group {
  margin:10px 0 10px 0;
}
div.card-product {
  width:25%;
}
div.choose-product {
  margin:0;
}


/* A */
a#choose_button {
 background-color:rgb(241, 175, 52);
 color:white;
 padding:10px 30px 0 30px
}
a.btn-order {
  font-size:17px;
  color:white;
  border-color:white;
  position:absolute;
  z-index:2;
  margin:370px 0 0 215px
}
a.btn-order:hover {
  background-color: white;
}
a.back {
  font-size: 16px;
  color:orange
}
a#option {
  padding: 0;
  width:23%;
  height:320px;
  border-color:skyblue;
  background-color:white;
  text-align:center;
  margin:auto;
  border-radius: 12px;
}
a.nav-link {
  color:black
}

/* Font */
h1 {
  font-weight: normal;
  text-align: center;
}
h1#title {
  font-weight: lighter;
  color:rgb(70, 135, 233);
}
h1#account_title {
  font-weight: bold;
  color:rgb(1, 96, 134)
}
h4#explain {
  color:rgb(236, 71, 11);
}
h4#account_title,h5 {
  color:black
}
h5.description {
  font-size: 15px;
}
h5#option_title {
  color:rgb(0, 105, 145);
}
h6#price {
  color:rgb(37, 36, 36);
  margin:10px 0 10px 0;
  text-align: right;
}
h1.how-to-start {
  margin: 50px 0;
}
h1.choose-product {
  margin:50px 0; 
}
p#price {
  font-size: 20px;
}
p#item {
  color:slategrey;
  margin:20px 0 20px 0 ;
}
small#體驗一箱 {
 color:transparent;
}
span {
  color:red;
}
span.remind {
  font-size: 13px;
  color:crimson;
}
span.close {
  color:rgb(80, 90, 100);
}

/* Button */
button#step-now {
  margin:auto;
  padding:10px 80px 20px 80px;
  cursor:default;
  border-radius: 50px;
  border:none;
  font-size: 20px;
  background-color: rgb(236, 132, 40);
}
button#step {
  margin:auto;
  padding:10px 80px 20px 80px;
  cursor:default;
  border-radius: 50px;
  font-size: 20px;
}
button#buy {
  padding:8px 200px 8px 200px;
}
button.submit {
  background-color:rgb(247, 35, 7);
  color:white;
}
button#dropdown-toggle {
  padding-right:0px
}
label {
  color:slategrey
}

/* I */
i.fa-check-circle {
  margin-top: 20px;
  font-size: 30px;
  color:rgb(140, 218, 24);
}
i.fa-asterisk {
  color:orangered;
  font-size:smaller;
}

/* Input */
input.customer {
  border: none;
  background-color:rgb(231, 231, 231);
  border-radius:5px;
}
input.customer:focus {
  background-color:rgb(231, 231, 231);
}

/* Hr */
hr {
  border:1px solid black;
}
hr#navbar {
  margin-top:5px;
}

/* Nav */
nav.navbar {
  padding:0px;
  background-color:snow;
}

/* Body */
body {
  background-color:snow;
  height: 100%;
}

/* Main */
main {
  min-height: 100%;
  margin-bottom: 50px;
}

/* Footer */
footer {
  text-align: center;
}


@media (min-width: 576px) and (max-width: 767.98px) {
/* Image */
img#earth {
  width: 400px;
}
img#slogan {
  position:absolute;
  z-index:2;
  margin:40px 100px 50px 75px;
  filter:brightness(1.3);
  width: 300px;
}
img.product-image {
  height: 200px;
}
img.subscribe-step {
  width:30%;
  height: 220px;
}

/* A */
a.btn-order {
  font-size:14px;
  color:white;
  border-color:white;
  position:absolute;
  z-index:2;
  margin:265px 100px 100px 150px
}

/* Font */
h1.how-to-start {
  margin: 30px 0;
  font-size:28px;
}
h1.choose-product {
  margin:30px 0; 
  font-size: 28px;
}

/* Div */
div.card-product {
  width:50%;
}
div.choose-product {
  margin:0;
}
}

@media (max-width: 575.98px) {
/* Image */
img#earth {
    width: 300px;
  }
img#slogan {
  position:absolute;
  z-index:2;
  margin:20px 0 0 30px;
  filter:brightness(1.3);
  width: 280px;
}
img.subscribe-step {
  width: 60%;
}

/* A */
a.btn-order {
  font-size:14px;
  color:white;
  border-color:white;
  position:absolute;
  z-index:2;
  margin:195px 0 0 95px
}

/* Font */
h1.how-to-start {
  margin: 30px 0;
  font-size:28px;
}
h1.choose-product {
  margin:30px 0; 
  font-size: 28px;
}

/* Div */
div.card-product {
  width:70%;
}
div.choose-product {
  margin:0;
}
}


