/* Img */
img#slogan {
  position:absolute;
  z-index:2;
  margin:40px 0 0 85px;
  filter:brightness(1.3);
  width: 450px;
}
img#earth {
  filter:contrast(1.2);
  width: 550px;
}
img.subscribe-step {
  width: 25%;
  margin:auto;
  height:300px;
}
img.product-image {
  height: 200px;
}
img.dessert-order {
  width:370px;
}
img.explain {
  width: 550px;
  height: 550px;
}

/* Div */
div#logo,div.step,div#choose,div.card,div.dessert-order {
  text-align: center;
}
div.row {
  margin:0;
}
div.step {
  margin:40px 0 50px 0 ;
}
div.card {
  width: 20%;
  margin:0 auto 0 auto;
  border:none;
  background-color:transparent;
}
div#體驗一箱 {
  color:orange
}
div#超值箱 {
  color:rgb(111, 196, 245)
}
div#饗樂箱 {
  color:orangered;
}
div#派對箱 {
  color:rgb(50, 65, 148)
}
div.card-header {
  background-color: white;
  height:30%;
  font-size:20px;
  margin-top:5px ;
  color:rgb(0, 105, 145);
}
div.card-body {
  height:70%;
}
div#option {
  margin-top: 80px;
}
div.cart {
  margin: 0 auto auto auto;
}
div.cart-infomation {
  border:2px solid black;
  border-radius:5px;
}
div.order-infomation {
  margin-bottom: 30px;
}
div.product-infomation {
  padding: 0px;
}
div.add-product {
  margin-left: 25%;
}
div.form-label-group {
  margin:10px 0 10px 0;
}
div.card-product {
  width: 25%;
}
div.form {
  margin: 50px 0 0 0;
}
div.customer {
  margin: auto;
  margin-bottom: 30px;
}
div.card-subscribing {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0;
  margin:0 0 10px 0;
}
div.list {
  text-align: center;
  margin-bottom: 50px;
}
div.earth {
  text-align: center;
  margin-right:15px
}
div.explain-container{
  text-align: center;
  margin-top:30px;
}
div.explain {
  background-color:rgb(248, 222, 166);
  width:66%;
  margin-left:17%;
  border-radius:10px;
  margin-bottom:80px;
  padding-bottom:30px
}
div.carousel {
  width: 50%;
  margin-left:25%;
}

/* A */
a#choose_button {
 background-color:rgb(241, 175, 52);
 color:white;
 padding:10px 30px 0 30px
}
a.btn-order {
  font-size:17px;
  color:white;
  border-color:white;
  position:absolute;
  z-index:2;
  margin:370px 0 0 215px
}
a.btn-order:hover {
  background-color: white;
}
a.back {
  font-size: 16px;
  color:orange
}
a#option {
  padding: 0;
  width:24%;
  height:320px;
  border-color:skyblue;
  background-color:white;
  text-align:center;
  margin:auto;
  border-radius: 12px;
}
a.nav-link {
  color:black
}
a.nav-item {
  padding-left: 3px;
  padding-right: 3px;
}
a.to-products {
  background-color:rgb(252, 120, 79);
  color:white;
  border-radius:10px;
  padding:5px 30px;
  font-size: 18px;
}
a.to-products:hover {
  background-color: rgb(241, 22, 22);
  color:white;
}
a.dessert-order {
  color:rgb(240, 174, 31);
}
a.dessert-order:hover {
  color:rgb(236, 66, 24)
}
a.explain {
  background-color: rgb(247, 184, 11);
  color:white;
  padding:20px 50px;
  font-size:18px;
}
a.order {
  padding:10px 70px;
  background-color:rgb(253, 154, 124);
  color:white;
  font-size:20px;
}

/* Font */
h1 {
  font-weight: normal;
  text-align: center;
}
h1#title {
  font-weight: lighter;
  color:rgb(70, 135, 233);
}
h1#account_title {
  font-weight: bold;
  color: rgb(1, 96, 134);
  margin-top: 50px;
  margin-bottom: 40px;
}
h4#explain {
  color:rgb(236, 71, 11);
}
h4.account_title,h5 {
  color:black
}
h5.description {
  font-size: 15px;
}
h5#option_title {
  color:rgb(0, 105, 145);
}
h6#price {
  color:rgb(37, 36, 36);
  margin:10px 0 10px 0;
  text-align: right;
}
h6.product-infomation {
  line-height: 140px;
}
h6.title {
  color:rgb(141, 153, 165);
}
h6.dessert-order {
  line-height: 25px;
}
h1.how-to-start {
  margin: 50px 0;
}
h1.choose-product {
  margin:50px 0; 
}
h2.price {
  font-size: 28px;
}
p#price {
  font-size: 20px;
}
p#item {
  color:slategrey;
  margin:20px 0 20px 0 ;
}
p.explain {
  line-height: 30px;
}
p.carousel {
  font-size: 25px;
}
span {
  color:red;
}
span.remind {
  font-size: 13px;
  color:crimson;
}
span.close {
  color:rgb(80, 90, 100);
}

/* Button */
button#step-now {
  width: 22%;
  margin:auto;
  padding:10px 0 20px 0;
  cursor:default;
  border-radius: 50px;
  border:none;
  font-size: 20px;
  background-color: rgb(236, 132, 40);
}
button#step {
  width:22%;
  margin:auto;
  padding:10px 0 20px 0;
  cursor:default;
  border-radius: 50px;
  font-size: 20px;
}
button#buy {
  padding:8px 200px 8px 200px;
}
button.submit {
  background-color:rgb(247, 35, 7);
  color:white;
}
button#dropdown-toggle {
  padding-right:0px
}
button.nav-item {
  padding-left: 3px;
  padding-right: 3px;
}
label {
  color:slategrey
}

/* I */
i.fa-check-circle {
  margin-top: 20px;
  font-size: 30px;
  color:rgb(140, 218, 24);
}
i.fa-asterisk {
  color:orangered;
  font-size:smaller;
}
i.fa-question-circle-o {
  font-size:60px;
  margin-bottom:20px;
  color:rgb(247, 184, 11)
}

/* Input */
input.customer {
  border: none;
  background-color:rgb(231, 231, 231);
  border-radius:5px;
}
input.customer:focus {
  background-color:rgb(231, 231, 231);
}

/* List */
li.list-group-item {
  background-color: snow;
  padding:10px 0;
}

/* Hr */
hr {
  border:1px solid black;
}
hr#navbar {
  margin-top:5px;
}

/* Nav */
nav.navbar {
  padding:0px;
  background-color:snow;
}

/* Table */
.table {
  text-align: center;
}
.table td, .table th {
  padding:5px 0;
}
/* Body */
body {
  background-color:snow;
  height: 100%;
}

/* Main */
main {
  min-height: 100%;
  margin-bottom: 50px;
}

/* Footer */
footer {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  img.explain {
    width: 380px;
    height: 380px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
/* Image */
img#earth {
  width: 400px;
}
img#slogan {
  margin:40px 100px 50px 75px;
  width: 300px;
}
img.product-image {
  height: 200px;
}
img.subscribe-step {
  width:30%;
  height: 240px;
}
img.dessert-order {
  width:260px;
}
img.explain {
  width: 350px;
  height: 350px;
}

/* A */
a.btn-order {
  font-size:14px;
  color:white;
  border-color:white;
  position:absolute;
  z-index:2;
  margin:265px 100px 100px 150px
}
a#option {
  width:50%;
  margin-bottom: 10px;
}
a.to-products {
  font-size: 16px;
}

/* Font */
h1.how-to-start {
  margin: 30px 0;
  font-size:28px;
}
h1.choose-product {
  margin:30px 0; 
  font-size: 28px;
}
h1.explain {
  font-size: 32px;
}
h2.price {
  font-size:20px;
}
h4.account_title {
  text-align: center;
}
h6.product-infomation {
  line-height: 30px;
  font-size: 24px;
}
p.carousel {
  font-size: 22px;
}

/* Div */
div.card-product {
  width:50%;
}
div.choose-product {
  margin:0;
}
div.signin {
  margin-bottom: 60px;
}
div.product-infomation {
  padding: 0;
  text-align: center;
}
div.explain {
  width: 80%;
  margin-left: 10%;
}
div.carousel {
  width: 70%;
  margin-left: 15%;
}

/* Ul */
ul.nav {
  margin: auto;
}
}

@media (max-width: 575.98px) {
/* Image */
img#earth {
    width: 300px;
  }
img#slogan {
  margin:20px 0 0 30px;
  width: 280px;
}
img.subscribe-step {
  width: 60%;
  height:250px;
}
img.dessert-order {
  width:200px;
}
img.explain {
  width: 250px; 
  height: 250px;
}

/* A */
a.btn-order {
  font-size:14px;
  color:white;
  border-color:white;
  position:absolute;
  z-index:2;
  margin:195px 0 0 95px
}
a#option {
  width:70%;
  margin-bottom: 10px;
}
a.to-products {
  font-size: 14px;
}
a.dessert-order {
  font-size: 14px;
}
a.explain {
  padding: 10px 30px;
  font-size: 16px;
}

/* Font */
h1.how-to-start {
  margin: 30px 0;
  font-size:28px;
}
h1.choose-product {
  margin:30px 0; 
  font-size: 28px;
}
h1#title {
  font-size:30px;
}
h1.explain {
  font-size: 28px;
}
h4#explain {
  font-size:19px;
}
h4.account_title {
  text-align: center;
}
h6.product-infomation {
  line-height: 20px;
}
h6.dessert-order {
  font-size: 12px;
}
p.explain {
  line-height: 20px;
  font-size: 14px;
}
p.carousel {
  font-size: 20px;
}

/* Div */
div.card-product {
  width:70%;
}
div.choose-product {
  margin:0;
}
div.signin {
  margin-bottom: 60px;
}
div.product-infomation {
  padding: 0px;
  text-align: center;
}
div.explain {
  width: 90%;
  margin-left: 5%;
}
div.carousel {
  width: 90%;
  margin-left: 5%;
}

/* Button */
button#step-now {
  font-size: 16px;
}
button#step {
  font-size: 16px;
}
button#buy {
  padding:8px 80px 8px 80px;
}

/* Ul */
ul.nav {
  margin: auto;
}
}


